[Unit]
Description=Refresh Football Statistics Every 30 Seconds

[Timer]
OnBootSec=70s
OnUnitActiveSec=30s
AccuracySec=10s
Persistent=true
Unit=football-statistics.service

[Install]
WantedBy=timers.target
