[Unit]
Description=Refresh Football Statistics Every 5 Minutes

[Timer]
OnBootSec=70s
OnUnitActiveSec=300s
AccuracySec=10s
Persistent=true
Unit=football-statistics.service

[Install]
WantedBy=timers.target
