[Unit]
Description=Run Hongrui Spider Every Minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=5s
Persistent=true
Unit=hongrui-spider.service

[Install]
WantedBy=timers.target
