FOOTBALL_ADMIN_TOKEN=
SCPAI_BASE_URL=https://scpai.top
SCPAI_ENABLED=true
SCPAI_DASHBOARD_CACHE_SECONDS=15
SCPAI_CONTEXT_CACHE_SECONDS=300
SCPAI_NEWS_CACHE_SECONDS=300
SCPAI_CONNECT_TIMEOUT=5
SCPAI_REQUEST_TIMEOUT=10
